.iconContainer{
    background-color: #243344;
    padding: 5px;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
    align-content: center;
    margin: auto;
}