/* Tab Container */
.Tabs {
    width: 90%;
    height: 100%;
    margin:auto;
    color: #6e737c;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }
  }
 /* Tab Navigation */
ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
 
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
 

ul.nav li:hover {
  background: rgba(50, 224, 196, 0.15);
}
 
ul.nav li.active {
  // background: #39A2DB;
  border-bottom: 1px solid white;
  color: #E8F0F2;
}
 
/* Tab Content Styles */
.TabContent {
  font-size: 2rem;
  text-align: center;
}