@import '../../styles/partials/variables' ; 


.container{
    width: 100%;
    height: 100vh;
    background-color: $blackColor;
}
.topBox{
    height: 55%;
    width: 100%;
    background-color: $darkBlue;
    color: aliceblue;
    margin: auto;
    display: flex;
}
.bottomBox{
    height: 35%;
    width: 100%;
    background-color: $darkBlue;
    margin:15px auto;

}
.modalTextStyle{
    color : black ; 
    font-size: 15px;
    text-align: center;
}